<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Graphics</key>
        <dict>
            <key>3</key>
            <string>Figures/BART_map.png</string>
            <key>4</key>
            <string>Figures/abstract_reliefs_24.jpg</string>
            <key>5</key>
            <string>Figures/train_mural.jpg</string>
        </dict>
    </dict>
</plist>
